<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Instalados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Instalados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="usuarios">
    <ion-segment-button value="usuarios">
      Usuarios
    </ion-segment-button>
    <ion-segment-button value="avanzados">
      Avanzados
    </ion-segment-button>
    <ion-segment-button value="recientes">
      Recientes
    </ion-segment-button>
  </ion-segment>
</ion-content>
